#area1  {
    border: solid 1px black;
    background-color: aqua;
    height: fit-content;
}


.lyseBlaa {
    background-color: #577fec;
}

.rad {
    width: 800px;
    padding: 5px;
    background-color: beige;
}

.feltNavn {
    width: 60%;
    float: left;
    margin-right: 5px;
}

.feltOrgnr {
    width: 30%;
    float: left;
}
