body {
    padding: 10px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

td {
    padding: 5px;
    background-color: #eee;
}

th {
    padding: 5px;
    background-color: #333;
    color: white;
}