<div class="btn-group" role="group" aria-label="Menyrad">
    <button type="button" onclick="document.location='/'" class="btn btn-primary">Hjem</button>

    <div class="btn-group" role="group">
        <button id="btnGroupDrop1" type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Brukere
            </button>
        <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
            <a class="dropdown-item" href="users">Brukeroversikt</a>
            <a class="dropdown-item" href="new_user">Legg inn ny bruker</a>
            <a class="dropdown-item" href="#">Slett bruker</a>
        </div>
    </div>
</div>